%section.intro
  .intro__content
    %h1.intro__title
      Chaincase
    %h2.intro__details
      The accessible, private, and portable way to use Bitcoin
    %br
    %p.intro__details
      Powered by #{link_to "WasabiWallet", "https://wasabiwallet.io"}.

%section.copy
  %h3
    Anonymous <br/>
    Peer-to-Peer <br/>
    Networking
  %p All data in transit is sent encrypted over Tor. <br/>  Nobody on the network even knows you're using Bitcoin.

%section.copy
  %h3
    On-Chain <br/>
    Obfuscation
  %p Our distributed mixing software separates the link between sender and reciever on the public blockchain data so it is private from any single bad actor. Keys are always safe on hardware. Proven by CoinJoins of more than 50,000 bitcoin.

%section.copy
  %h3 Privacy-Preserving <br/> Light Client
  %p Chaincase uses compact block filters (aka Neutrino) to keep your data private from curious peers without relying on a single point of trust.

%section.subscribe
  %h4
    Go
    %span.royal-purple private
    before anyone else.
  = form_for :user, :url => {:controller => 'users', :action => 'create'} do |f|
    = label_tag :email, "Enter your email to stay tuned."
    = email_field :user, :email, placeholder: "d@ngould.dev"
    %p
      %em No spam, ever. Emails are never shared.
    = submit_tag "Get Access" 

