%section.intro
  .intro__content
    %div.intro__title
      = link_to image_tag( 'chaincase-mark-white.svg'), 'https://chaincase.app'
      %h1
        Chaincase
    %h2.intro__details
      Bitcoin privacy by design
    %br
    %p.intro__details
      Powered by #{link_to "Wasabi Wallet", "https://wasabiwallet.io", target: :_blank}

%section.copy
  %h3
    Clear your <br/>
    Coins' History
  %p Chaincase frees your coins from their linear public history without ever taking control. Proven by more than ₿50,000 in successful #{link_to "CoinJoin", "https://en.bitcoin.it/wiki/CoinJoin", target: :_blank} mixes.

%section.copy
  %h3 Private Sync
  %p Chaincase keeps your transaction data private by taking full advantage of bitcoin's decentralized design. Other wallets take advantage of their central power and can see how much coin you have, where you get it, and how you use it. We help you verify using #{link_to "Neutrino", "https://bitcoinmagazine.com/articles/neutrino-privacy-preserving-light-wallet-protocol", target: :_blank} instead of just trusting us.

%section.copy
  %h3
    Anonymous <br/>
    Peer-to-Peer <br/>
    Networking
  %p All network traffic is encrypted and travels through #{link_to "Tor", "https://en.wikipedia.org/wiki/Tor_(anonymity_network)", target: :_blank}. <br/> Snoops on your network don't even know you use bitcoin.

%section.subscribe
  %h4
    Go
    %span.royal-purple private
    before anyone else.
  = form_for :user, :url => {:controller => 'users', :action => 'create'} do |f|
    = label_tag :email, "Enter your email to stay tuned."
    = email_field :user, :email, placeholder: "dan@chaincase.cash"
    %p
      %em No spam, ever. Emails are never shared.
    = submit_tag "Get Access" 

