%section.intro
  .intro__content
    %div.intro__title
      = link_to image_tag( 'chaincase-mark-white.svg'), 'https://chaincase.app'
      %h1
        Chaincase
    %div.intro__details
      %h2 Tired of being tracked on&nbsp;Bitcoin? We&nbsp;can&nbsp;help.
      %h5 Get seamless privacy protection on iOS with one download
      %form{ action: 'https://testflight.apple.com/join/jBN5i0b1', target: '_blank' } 

        %input{type: "submit", value: "Try anonymous bitcoin 📲  on TestFlight"}
    

      %div.bullets
        %div.bullet
          = image_tag('icon-check.svg')
          %span Tor Network Privacy
        %div.bullet
          = image_tag('icon-check.svg')
          Neutrino Private&nbsp;Sync
        %div.bullet
          = image_tag('icon-check.svg')
          CoinJoin &amp; Coin Control Blockchain&nbsp;Privacy
    .intro__footer
      #{link_to image_tag('hrf-logo.svg', title:"Human Rights Foundation", alt: "Human Rights Foundation logo", id: "hrf-logo"), 'https://hrf.org/hrfs-bitcoin-development-fund-announces-375-million-satoshis-across-10-q3-gifts/', target: :_blank}
      %p
        #{link_to "👆 HRF's Bitcoin Development Fund gave us a gift 🎉", 'https://hrf.org/hrfs-bitcoin-development-fund-announces-375-million-satoshis-across-10-q3-gifts/', target: :_blank, style: "text-decoration: none;"}

%section.copy
  %h3
    Clear your <br/>
    Coins' History
  %p Chaincase frees your coins from their linear public history without ever taking control. Proven by more than ₿50,000 in successful #{link_to "CoinJoin", "https://en.bitcoin.it/wiki/CoinJoin", target: :_blank} mixes.

%section.copy
  %h3 Private Sync
  %p Chaincase keeps your transaction data private by taking full advantage of bitcoin's decentralized design. Other wallets take advantage of their central power and can see how much coin you have, where you get it, and how you use it. We help you verify using #{link_to "Neutrino", "https://bitcoinmagazine.com/articles/neutrino-privacy-preserving-light-wallet-protocol", target: :_blank} instead of just trusting us.

%section.copy
  %h3
    Anonymous <br/>
    Peer-to-Peer <br/>
    Networking
  %p All network traffic is encrypted and travels through #{link_to "Tor", "https://en.wikipedia.org/wiki/Tor_(anonymity_network)", target: :_blank}. <br/> Snoops on your network don't even know you use bitcoin.

%section.subscribe.emailoctopus-form-wrapper.emailoctopus-form-default.null
  %h4.emailoctopus-heading
    Go
    %span.royal-purple private
    before anyone else.
  %p.emailoctopus-success-message
  %p.emailoctopus-error-message
  %form.emailoctopus-form{:action => "https://emailoctopus.com/lists/f0814c6a-30ea-11eb-a3d0-06b4694bee2a/members/embedded/1.3s/add", "data-message-bot-submission-error" => "This doesn't look like a human submission.", "data-message-consent-required" => "Please check the checkbox to indicate your consent.", "data-message-invalid-email-address" => "Your email address looks incorrect, please try again.", "data-message-invalid-parameters-error" => "This form has missing or invalid fields.", "data-message-missing-email-address" => "Your email address is required.", "data-message-success" => "Updates coming your way!", "data-message-unknown-error" => "Sorry, an unknown error has occurred. Please try again later.", "data-sitekey" => "6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6", :method => "post"}
    .emailoctopus-form-row
      %label{:for => "field_0"}
        Enter your email to stay tuned
      %input#field_0{:name => "field_0", :placeholder => "hi@chaincase.app", :required => "required", :type => "email"}/
    .emailoctopus-form-row
      %label{:for => "field_1"}
        And your name so we can address you
      %input#field_1{:name => "field_1", :placeholder => "Satoshi", :type => "text"}/
    .emailoctopus-form-row-hp{"aria-hidden" => "true"}
      %input{:autocomplete => "nope", :name => "hpc4b27b6e-eb38-11e9-be00-06b4694bee2a", :tabindex => "-1", :type => "text"}/
    .emailoctopus-form-row-subscribe
      %input{:name => "successRedirectUrl", :type => "hidden"}/
      %input{type: "submit", value: "Get Access", "data-disable-with" => "Get Access"}
%section.copy
  %p.intro__details.intro__content-bottom
    Join the #{link_to "Telegram Community", "https://t.me/chaincase", target: :_blank}, follow us on #{link_to "Twitter", "https://twitter.com/chaincaseapp", target: :_blank}, and contribute on #{link_to "GitHub", "https://github.com/chaincase-app/Chaincase", target: :_blank}

%script{:src => "https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-recaptcha.js"}
  :cdata
%script{:src => "https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-embed.js"}
  :cdata

