%section.intro
  .intro__content
    %div.intro__title
      = link_to image_tag( 'chaincase-mark-white.svg'), 'https://chaincase.app'
      %h1
        Chaincase
    %h2.intro__details
      Bitcoin privacy by design
    %br
    %p.intro__details
      Powered by #{link_to "WasabiWallet", "https://wasabiwallet.io", target: :_blank}.

%section.copy
  %h3
    Clear your <br/>
    Coins' History
  %p Our non-custodial mixing software clears the linear history of your coins on chain, proven by more than 50,000 mixed bitcoin.

%section.copy
  %h3 Private Sync
  %p Chaincase keeps your data private using a new protocol. Other wallet companies get all of your trade data and know exactly how much coin you have. With us, you need not rely on trust. #{link_to "BIP 158", "https://github.com/bitcoin/bips/blob/master/bip-0158.mediawiki", target: :_blank} compact block filters, sometimes called Neutrino, let you verify. 

%section.copy
  %h3
    Anonymous <br/>
    Peer-to-Peer <br/>
    Networking
  %p All network traffic is encrypted with Tor. <br/> Snoops on your network don't even know you use Bitcoin.

%section.subscribe
  %h4
    Go
    %span.royal-purple private
    before anyone else.
  = form_for :user, :url => {:controller => 'users', :action => 'create'} do |f|
    = label_tag :email, "Enter your email to stay tuned."
    = email_field :user, :email, placeholder: "dan@chaincase.cash"
    %p
      %em No spam, ever. Emails are never shared.
    = submit_tag "Get Access" 

