!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= full_title(yield(:title))
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{rel: "stylesheet", href: "https://use.typekit.net/acg0ria.css"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: 'defer'
  %body{class: "#{controller_name} #{action_name}"}
    .content
      - if flash.count > 0
        %section
          - flash.each do |msg_type, msg|
            %div.alert(class="alert-#{msg_type}")= msg
      = yield
      %section
        = render 'layouts/footer'
